#form {
    margin-top: 70px;
    max-width: 580px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    border: 1px solid black;
    text-align: center;
}

form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h2 {
    font-size: 28px;
    text-align: center;
}


.form input,
.form button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.form input {  
    padding: 0 15px;
    border: 1px solid #CACA;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a  {
    font-size: 14px;
    font-weight: 400;
}

.form a {
    text-decoration: none;
}

.form a:hover { 
    text-decoration: underline;
}

@media screen and (max-width: 760px) {
    #form {
        max-width: 380px;
    }
    .form input, .form button {
        height: 80%;
        width: 90%;
        font-size: 14px;
        font-weight: 400;
        border-radius: 6px;
    }
}